exportPattern("^[[:alpha:]]+")
importFrom("stats", "Gamma", "coef", "glm.fit", "model.matrix",
             "printCoefmat", "qt", "pt", "terms")
#####################################
##            S3 methods           ##
#####################################
S3method("print","Gammareg")
S3method("summary","Gammareg")
S3method("print","summary.Gammareg")